.contacts_content{
    z-index: 1;
    
    ion-list{
        .contactName{
            font-size: 1.3rem;
            text-transform: capitalize;
            margin-bottom: 10px;
        }

        .numberOfPhone{
            color: #666;
        }
    }
}