.meteo-view{
    .containerBottom{
        z-index:1;
        position: absolute;
        bottom: 0px;
        height: 70vh;
        background: rgb(71, 168, 217);
        width: 100%;
    }

    ion-content{
        z-index: 10;
        background: transparent;
    }
}