.meteo-view {
  .containerBottom {
    z-index: 1;
    position: absolute;
    bottom: -30vh;
    height: 100vh;
    background: rgb(71, 168, 217);
    width: 100%;
  }

  ion-content {
    z-index: 10;
    background: transparent;

    // Wrapper per l'icona centrale che indica il meteo attuale
    .icon-weather {
      display: flex;
      justify-content: center;

      img {
        &.sun {
            width: 20vh;
            height: 20vh;
            animation: rotation 10s infinite linear;

            @keyframes rotation {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(359deg);
                }
            }
        }
      }
    }


    // Wrapper della sezione meteo
    .weather-wrapper{
        display: flex;
        margin: 0px 20px 50px 20px;
        border-bottom: thin solid whitesmoke;
        padding-bottom: 40px;

        //Wrapper per l'icona del vento
        .wind-wrapper{
            width: 10vh;

            img{
                height: 8vh;
                width: 8vh;
                animation: effettoAllungamento 1s infinite alternate;
    
                @keyframes effettoAllungamento {
                    from{
                        width: 8vh;
                    }
                    to{
                        width: 9vh;
                    }
                    
                }
            }
        }

        //Wrapper dell'icona dell'umidità
        .humidity-wrapper{
            overflow: hidden;
            border-radius: 70%;
            
            img{
                width: 8vh;
                animation: effettoCadutaGoccia 3s infinite linear;
                position: relative;

                @keyframes effettoCadutaGoccia {
                    from{
                        top: -12vh;
                    }
                    to{
                        top: 12vh;
                    }
                    
                }
            }
        }

        // Dati da mostrare 
       .weather-info{
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            justify-content: space-evenly;

            .weather-item {
                display: flex;
                flex-direction: row;
                color: whitesmoke;
                font-size: 14pt;
                font-family: $fontClassic; //"Helvetica Neue", "Roboto", "Segoe UI", sans-serif;  // Nell'attesa di capire perché Gotham non va

                .title-info{
                    font-weight: bold;
                    margin-right: 10px;
                }
            }
        }

    }



    // Titolo della sezione meteo
    .title-weather-condition{
        color: whitesmoke;
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 30px;
        font-size: 2rem;
        font-family: $fontThin;
    }
  }
}

// Puoi usare queste icone animate https://codepen.io/noahblon/pen/lxukH quando hai un pò di tempo
