//Fonts
$fontLight: url('./../docs/fonts/GothamLight.ttf');
$fontThin: url('./../docs/fonts/Gotham-Thin.otf');
$fontXtrLight: url('./../docs/fonts/Gotham-XLight.otf');
$fontClassic: url('./../docs/fonts/GothamBook.ttf');