// Va capito come andare a mettere un font size senza installarlo sulla macchina    


//Font face
@font-face{
    font-family: 'GothamLight';
    src: url('../assets/fonts/GothamLight.ttf');
}

@font-face{
    font-family: 'GothamThin';
    src: url('../assets/fonts/Gotham-Thin.otf');
}

@font-face{
    font-family: 'GothamExtraLight';
    src: url('../assets/fonts/Gotham-XLight.otf');
}

@font-face{
    font-family: 'GothamBook';
    src: url('../assets/fonts/GothamBook.ttf');
}

//Fonts
$fontLight: 'GothamLight';
$fontThin: 'GothamThin';
$fontXtrLight: 'GothamExtraLight';
$fontClassic: 'GothamBook';



//Colors
$titleColor:  #296ad4;
$subtitleColor: #205ac4;