<ion-view view-title="Meteo" class="meteo-view">
    <!-- Loading -->
    <div class="spinner-wrapper" ng-if="meteoCtrl.loading">
        <ion-spinner icon="ripple"></ion-spinner>
    </div>

    <ion-content>
        <!-- Refresher -->
        <ion-refresher class="refresher-custom" pulling-text="Trascina verso il basso per aggiornare..." on-refresh="" spinner="ripple">
        </ion-refresher>

        <!-- Titolo-->
        <p class="padding_22px_side margin_10px_updown title capitalizzazione">{{meteoCtrl.weatherDescription}}</p>
        <p class="subtitle padding_22px_side margin_10px_updown">{{meteoCtrl.city}}</p>

        <!-- Icona meteo attuale-->
        <div class="icon-weather">
            <img src="img/weatherIcon/icons8-summer-96.png" alt="Sun-image" class="sun">
        </div>

        <!-- Sezione vento-->
        <div class="title-weather-condition">
            Vento
        </div>
        <div class="icon-wind-wrapper">
            <div class="wind-wrapper">
                <img src="img/weatherIcon/icons8-wind-100.png" alt="Wind-image" class="wind">
            </div>
            <div class="weather-info">
                <div class="weather-item">
                    <div class="title-info">Velocità (m/s):</div>
                    <div>{{meteoCtrl.speedOfWind}} m/s</div>
                </div>
                <div class="weather-item">
                    <div class="title-info">Angolo:</div>
                    <div>{{meteoCtrl.degOfWind}}</div>
                </div>
            </div>
        </div>

    </ion-content>

    <div class="containerBottom"></div>
</ion-view>