<ion-view view-title="Meteo" class="meteo-view">
    <!-- Loading -->
    <div class="spinner-wrapper" ng-if="meteoCtrl.loading">
        <ion-spinner icon="ripple"></ion-spinner>
    </div>

    <ion-content>
        <!-- Refresher -->
        <ion-refresher class="refresher-custom" pulling-text="Trascina verso il basso per aggiornare..." on-refresh="meteoCtrl.refreshWeatherInformation()" spinner="ripple">
        </ion-refresher>

        <!-- Titolo-->
        <p class="padding_22px_side margin_10px_updown title capitalizzazione">{{meteoCtrl.weatherDescription}}</p>
        <p class="subtitle padding_22px_side margin_10px_updown">{{meteoCtrl.city}}</p>

        <!-- Icona meteo attuale-->
        <div class="icon-weather">
            <img src="img/weatherIcon/icons8-summer-96.png" alt="Sun-image" class="sun">
        </div>

        <!-- Sezione temperatura -->
        <div class="title-weather-condition">
            Temperatura
        </div>
        <div class="weather-wrapper">
            <div class="temp-wrapper">
                <img src="img/weatherIcon/icons8-temperature-96.png" alt="Temperature-image">
            </div>
            <div class="weather-info">
                <div class="weather-item">
                    <div class="actual-temperature"> {{meteoCtrl.temperature}}° </div>
                </div>
                <div class="weather-item">
                    <div class="color-temp-min">{{meteoCtrl.minTemperature}}°</div> /  
                    <div class="color-temp-max">{{meteoCtrl.maxTemperature}}°</div>
                </div>
            </div>
        </div>

        <!-- Sezione vento-->
        <div class="title-weather-condition">
            Vento
        </div>
        <div class="weather-wrapper">
            <div class="wind-wrapper">
                <img src="img/weatherIcon/icons8-wind-100.png" alt="Wind-image">
            </div>
            <div class="weather-info">
                <div class="weather-item">
                    <div class="title-info">Velocità (m/s):</div>
                    <div>{{meteoCtrl.speedOfWind}} m/s</div>
                </div>
                <div class="weather-item" ng-if="meteoCtrldegOfWind">
                    <div class="title-info">Angolo: (deg)</div>
                    <div>{{meteoCtrl.degOfWind}}°</div>
                </div>
            </div>
        </div>

        <!-- Sezione confort ambientale -->
        <div class="title-weather-condition">
            Confort ambientale
        </div>
        <div class="weather-wrapper">
            <div class="humidity-wrapper">
                <img src="img/weatherIcon/icons8-water-100.png" alt="drop-image" >
            </div>
            <div class="weather-info">
                <div class="weather-item">
                    <div class="title-info">Umidità: (%)</div>
                    <div>{{meteoCtrl.humidity}}%</div>
                </div>
                <div class="weather-item">
                    <div class="title-info">Pressione: (hpa)</div>
                    <div>{{meteoCtrl.pressure}} hpa</div>
                </div>
            </div>
        </div>



    <div class="containerBottom"></div>

    </ion-content>
</ion-view>